workflows/dental-clinic-review-agent/dental-clinic-review-agent.json
{
  "name": "Dental Clinic - Review Request Agent (Public)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "dental-review-trigger",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "4e79918e-0f0e-4679-b50f-7307d5444e87",
      "name": "Appointment Complete Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -656,
        112
      ],
      "webhookId": "YOUR_WEBHOOK_ID_TRIGGER",
      "notes": "Receives POST request with patient data after appointment."
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"status\": \"success\", \"message\": \"Review request workflow initiated\", \"patient\": \"{{ $('Validate & Structure Data').first().json.patient_name }}\", \"timestamp\": \"{{ $('Validate & Structure Data').first().json.timestamp }}\" }",
        "options": {}
      },
      "id": "67247706-d980-4f2b-82d8-ec1157eb8c67",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -448,
        304
      ],
      "notes": "Returns 200 OK immediately. Fires before any wait nodes to prevent upstream timeouts."
    },
    {
      "parameters": {
        "jsCode": "// Validate and extract incoming patient data\nconst body = $input.first().json.body || $input.first().json;\n\nconst required = ['patient_name', 'patient_email', 'appointment_date', 'clinic_name'];\nconst missing = required.filter(f => !body[f]);\nif (missing.length > 0) {\n  throw new Error(`Missing required fields: ${missing.join(', ')}`);\n}\n\nreturn [{\n  json: {\n    patient_name: body.patient_name.trim(),\n    patient_first_name: body.patient_name.trim().split(' ')[0],\n    patient_email: body.patient_email.trim().toLowerCase(),\n    patient_phone: body.patient_phone || null,\n    appointment_date: body.appointment_date,\n    appointment_type: body.appointment_type || '',\n    provider_name: (body.provider_name || body.dentist_name || '').trim(),\n    appointment_notes: body.appointment_notes || '',\n    clinic_name: body.clinic_name.trim(),\n    clinic_review_url: body.clinic_review_url || body.clinic_google_review_url || 'https://g.page/r/YOUR_CLINIC_REVIEW_LINK',\n    clinic_manager_email: body.clinic_manager_email || 'manager@clinic.com',\n    gbp_account_name: body.gbp_account_name || 'accounts/YOUR_ACCOUNT_ID',\n    gbp_location_name: body.gbp_location_name || 'locations/YOUR_LOCATION_ID',\n    send_sms: body.patient_phone ? true : false,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "6e99cf27-25f2-4898-b8b6-28adf520783e",
      "name": "Validate & Structure Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -448,
        112
      ],
      "notes": "Validates incoming data. Outputs: patient_first_name, patient_email, clinic_name, clinic_manager_email, appointment_type, provider_name, appointment_notes, clinic_review_url, and supporting fields."
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID_HERE",
          "mode": "id"
        },
        "sheetName": {
          "mode": "name",
          "value": "opt_out_log"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "patient_email",
              "lookupValue": "={{ $json.patient_email }}"
            }
          ]
        },
        "options": {}
      },
      "id": "sheets-lookup-node-001",
      "name": "Lookup Opt-Out Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -224,
        112
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "iHPANhRlnoNxdqCZ",
          "name": "Google Sheets account"
        }
      },
      "continueOnFail": true,
      "notes": "Looks up patient_email in the opt_out_log sheet. Always outputs data so workflow continues when email is not found. Sheet columns: patient_email | last_request_date | opted_out."
    },
    {
      "parameters": {
        "jsCode": "// DEDUP & OPT-OUT CHECK\nconst patientData = $('Validate & Structure Data').first().json;\n\nlet sheetRow = null;\ntry {\n  const lookupResult = $('Lookup Opt-Out Sheet').first().json;\n  if (lookupResult && lookupResult.patient_email) {\n    sheetRow = lookupResult;\n  }\n} catch (e) {}\n\nif (sheetRow) {\n  const opted_out = String(sheetRow.opted_out).toLowerCase() === 'true';\n  if (opted_out) {\n    throw new Error(`HALTED: Patient ${patientData.patient_email} has opted out of review requests.`);\n  }\n  if (sheetRow.last_request_date) {\n    const daysSince = (Date.now() - new Date(sheetRow.last_request_date).getTime()) / (1000 * 60 * 60 * 24);\n    if (daysSince < 90) {\n      throw new Error(`HALTED: Patient ${patientData.patient_email} received a review request ${Math.floor(daysSince)} days ago (within 90-day window).`);\n    }\n  }\n}\n\nreturn [{ json: patientData }];"
      },
      "id": "dedup-check-node-001",
      "name": "Dedup & Opt-Out Check",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        112
      ],
      "notes": "Reads Google Sheets lookup result. Halts if patient opted out or was contacted within 90 days."
    },
    {
      "parameters": {
        "amount": 0.25,
        "unit": "minutes"
      },
      "id": "05daaae2-eb5c-4d2e-99ef-f327e07caf7c",
      "name": "Wait 4 Hours Post-Appointment",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        224,
        112
      ],
      "webhookId": "YOUR_WEBHOOK_ID_WAIT_4HR",
      "notes": "TESTING: Set to .5 minute.\nProduction: Change amount to 4 and unit to hours."
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "claude-sonnet-4-6",
          "mode": "list",
          "cachedResultName": "claude-sonnet-4-6"
        },
        "messages": {
          "values": [
            {
              "content": "=Generate a review request email for this patient.\n\nPatient first name: {{ $('Validate & Structure Data').first().json.patient_first_name }}\nClinic name: {{ $('Validate & Structure Data').first().json.clinic_name }}\nAppointment type: {{ $('Validate & Structure Data').first().json.appointment_type }}\nProvider: {{ $('Validate & Structure Data').first().json.provider_name }}\nAppointment notes: {{ $('Validate & Structure Data').first().json.appointment_notes }}"
            }
          ]
        },
        "options": {
          "system": "You write personalized post-appointment review request emails for dental clinics. Your tone is warm, brief, and direct. You write like a real person, not a marketer.\n\nRules:\n- No em dashes\n- No semicolons\n- No rhetorical questions\n- No phrases like \"we value your feedback\" or \"your opinion matters to us\"\n- Active voice\n- Vary sentence length\n- Maximum 120 words in the body\n\nReturn only valid JSON in this exact structure, with no preamble or markdown code fences:\n{\n  \"email_subject\": \"subject line here\",\n  \"email_body\": \"HTML body with <p> tags and {{REVIEW_LINK}} placeholder where the link goes\",\n  \"sentiment_flag\": \"positive\"\n}\n\nThe sentiment_flag should be \"positive\" unless the appointment notes contain clear indicators of a problem (complaint, pain, dissatisfaction, escalation), in which case set it to \"negative\".",
          "maxTokens": 1024
        }
      },
      "id": "c46e70e3-8200-4cc8-abd8-312e3acf154d",
      "name": "Claude: Generate Review Email",
      "type": "@n8n/n8n-nodes-langchain.anthropic",
      "typeVersion": 1,
      "position": [
        400,
        -16
      ],
      "credentials": {
        "anthropicApi": {
          "id": "lgnCuwsw5BDyMJXo",
          "name": "Anthropic account"
        }
      },
      "continueOnFail": true,
      "notes": "Uses Claude to generate a personalized review request email. Returns JSON with email_subject, email_body (with {{REVIEW_LINK}} placeholder), and sentiment_flag.\nTESTING: continueOnFail=true so Parse & Inject Review Link fallback handles Claude errors."
    },
    {
      "parameters": {
        "jsCode": "const patientData = $('Validate & Structure Data').first().json;\nconst reviewUrl = patientData.clinic_review_url;\n\nconst rawSource =\n  $input.first().json.content?.[0]?.text ||\n  $input.first().json.text ||\n  '';\n\nconst rawText = rawSource\n  .replace(/^```json\\s*/i, '')\n  .replace(/^```\\s*/i, '')\n  .replace(/```$/i, '')\n  .trim();\n\nif (!rawText) {\n  return [{\n    json: {\n      email_subject: `Thanks for visiting ${patientData.patient_first_name}`,\n      email_body: `<p>Hi ${patientData.patient_first_name},</p><p>Thank you for visiting ${patientData.clinic_name}.</p><p>If you have a moment, <a href=\"${reviewUrl}\">leave us a review here</a>.</p><p>We appreciate your support.</p>`,\n      sentiment_flag: 'positive',\n      review_link: reviewUrl,\n      fallback_used: true,\n      fallback_reason: 'Claude returned no text output'\n    }\n  }];\n}\n\nlet claudeOutput;\ntry {\n  claudeOutput = JSON.parse(rawText);\n} catch (error) {\n  return [{\n    json: {\n      email_subject: `Thanks for visiting ${patientData.patient_first_name}`,\n      email_body: `<p>Hi ${patientData.patient_first_name},</p><p>Thank you for visiting ${patientData.clinic_name}.</p><p>If you have a moment, <a href=\"${reviewUrl}\">leave us a review here</a>.</p><p>We appreciate your support.</p>`,\n      sentiment_flag: 'positive',\n      review_link: reviewUrl,\n      fallback_used: true,\n      fallback_reason: `Claude JSON parse failed: ${error.message}`\n    }\n  }];\n}\n\nconst finalBody = (claudeOutput.email_body || '').replace(\n  '{{REVIEW_LINK}}',\n  `<a href=\"${reviewUrl}\">Leave a review here</a>`\n);\n\nreturn [{\n  json: {\n    email_subject: claudeOutput.email_subject || `Thanks for visiting ${patientData.patient_first_name}`,\n    email_body: finalBody || `<p>Hi ${patientData.patient_first_name},</p><p>Thank you for visiting ${patientData.clinic_name}.</p><p>If you have a moment, <a href=\"${reviewUrl}\">leave us a review here</a>.</p><p>We appreciate your support.</p>`,\n    sentiment_flag: claudeOutput.sentiment_flag || 'positive',\n    review_link: reviewUrl,\n    fallback_used: false\n  }\n}];"
      },
      "id": "9cb8da5e-18e9-41b0-8331-67a4450c83fe",
      "name": "Parse & Inject Review Link",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        0
      ],
      "notes": "Reads Claude output from json.content[0].text or json.text (whichever is present). Parses JSON, replaces {{REVIEW_LINK}} with hyperlink. On no output or JSON parse failure: returns fallback positive email — workflow continues. fallback_used field indicates which path was taken."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "check-negative",
              "leftValue": "={{ $json.sentiment_flag }}",
              "rightValue": "negative",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "4a99a5b9-5363-41d1-85f0-c1f1ca279bee",
      "name": "Sentiment Router",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        896,
        0
      ],
      "notes": "Checks sentiment_flag field. TRUE (equals 'negative') → Alert Clinic Manager. FALSE → Send review request."
    },
    {
      "parameters": {
        "fromEmail": "YOUR_SENDING_EMAIL@DOMAIN.COM",
        "toEmail": "={{ $('Validate & Structure Data').first().json.clinic_manager_email }}",
        "subject": "=⚠️ Negative Patient Feedback - Action Required: {{ $('Validate & Structure Data').first().json.patient_name }}",
        "html": "=<p>A patient may have had a negative experience.</p>\n<p>Patient: {{ $('Validate & Structure Data').first().json.patient_name }}</p>\n<p>Appointment type: {{ $('Validate & Structure Data').first().json.appointment_type }}</p>\n<p>Provider: {{ $('Validate & Structure Data').first().json.provider_name }}</p>\n<p>Notes: {{ $('Validate & Structure Data').first().json.appointment_notes }}</p>",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "2b23af0c-29b2-4aa3-9923-1e8a7ac7b979",
      "name": "Alert Clinic Manager (Negative)",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1120,
        -128
      ],
      "webhookId": "YOUR_WEBHOOK_ID_ALERT",
      "credentials": {
        "smtp": {
          "id": "4AiZ4tl1wAvSTiY6",
          "name": "SMTP account"
        }
      },
      "notes": "Fires when sentiment is negative. Review request suppressed.\nSMTP: The authenticated SMTP account must be allowed to send from the configured fromEmail address."
    },
    {
      "parameters": {
        "fromEmail": "YOUR_SENDING_EMAIL@DOMAIN.COM",
        "toEmail": "={{ $('Validate & Structure Data').first().json.patient_email }}",
        "subject": "={{ $json.email_subject }}",
        "html": "={{ $json.email_body }}",
        "options": {
          "appendAttribution": false,
          "replyTo": "={{ $('Validate & Structure Data').first().json.clinic_manager_email }}"
        }
      },
      "id": "fa12e9c6-c30c-4765-978f-f20909e17c97",
      "name": "Send Review Request Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1120,
        112
      ],
      "webhookId": "YOUR_WEBHOOK_ID_SEND_EMAIL",
      "credentials": {
        "smtp": {
          "id": "4AiZ4tl1wAvSTiY6",
          "name": "SMTP account"
        }
      },
      "notes": "Sends personalized review request email. HTML body from Parse & Inject Review Link.\nSMTP: The authenticated SMTP account must be allowed to send from the configured fromEmail address."
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID_HERE",
          "mode": "id"
        },
        "sheetName": {
          "mode": "name",
          "value": "opt_out_log"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "patient_email": "={{ $('Validate & Structure Data').first().json.patient_email }}",
            "last_request_date": "={{ new Date().toISOString() }}",
            "opted_out": "=FALSE",
            "patient_name": "={{ $('Validate & Structure Data').first().json.patient_name }}",
            "last_appointment_date": "={{ $('Validate & Structure Data').first().json.appointment_date }}"
          },
          "matchingColumns": [
            "patient_email"
          ],
          "schema": [
            {
              "id": "patient_email",
              "displayName": "patient_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "last_request_date",
              "displayName": "last_request_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "opted_out",
              "displayName": "opted_out",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "patient_name",
              "displayName": "patient_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "last_appointment_date",
              "displayName": "last_appointment_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "sheets-write-node-001",
      "name": "Log Send to Opt-Out Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1120,
        272
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "iHPANhRlnoNxdqCZ",
          "name": "Google Sheets account"
        }
      },
      "notes": "Writes/updates patient row in opt_out_log sheet after each review request send. Uses patient_email as matching column for appendOrUpdate. Records last_request_date for the 90-day dedup window."
    },
    {
      "parameters": {
        "jsCode": "const data = $('Validate & Structure Data').first().json;\nconsole.log(JSON.stringify({\n  event: 'review_request_sent',\n  clinic: data.clinic_name,\n  patient_email: data.patient_email,\n  provider: data.provider_name,\n  appointment_date: data.appointment_date,\n  timestamp: new Date().toISOString()\n}));\nreturn $input.all();"
      },
      "id": "d8e94e85-c666-4dce-8ee0-155591124cdb",
      "name": "Log Execution",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        432
      ],
      "notes": "Console logs each execution."
    },
    {
      "parameters": {
        "amount": 0.25,
        "unit": "minutes"
      },
      "id": "6c7b59f1-e2b4-4790-ace0-95b0dfc35854",
      "name": "Wait 72 Hours for Response",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1344,
        112
      ],
      "webhookId": "YOUR_WEBHOOK_ID_WAIT_72HR",
      "notes": "TESTING: Set to .5minutes.\nProduction: Change amount to 72 and unit to hours."
    },
    {
      "parameters": {
        "jsCode": "const patientData = $('Validate & Structure Data').first().json;\nconsole.log(`TEST MODE: Skipping GBP review lookup for ${patientData.patient_name}. Proceeding to follow-up.`);\nreturn [{ json: patientData }];"
      },
      "id": "review-check-node-001",
      "name": "Review Completion Check",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1536,
        112
      ],
      "notes": "TESTING: GBP review check bypassed. Always passes patient data through to follow-up.\nProduction: Restore full GBP review check logic and re-enable Fetch Recent GBP Reviews node."
    },
    {
      "parameters": {
        "fromEmail": "YOUR_SENDING_EMAIL@DOMAIN.COM",
        "toEmail": "={{ $('Validate & Structure Data').first().json.patient_email }}",
        "subject": "={{ 'Just checking in, ' + $('Validate & Structure Data').first().json.patient_first_name }}",
        "html": "=<p>Hi {{ $('Validate & Structure Data').first().json.patient_first_name }},</p>\n<p>Just a quick follow-up from {{ $('Validate & Structure Data').first().json.clinic_name }}. We'd still love to hear about your recent visit.</p>\n<p>If you have a moment, <a href=\"{{ $('Validate & Structure Data').first().json.clinic_review_url }}\">leave us a Google review here</a>. It means a lot to our team.</p>\n<p>Thanks again for choosing us.</p>",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "cc58d307-dbc9-4a0d-a542-5c66b309f14c",
      "name": "Send Follow-Up (Day 3)",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1760,
        112
      ],
      "webhookId": "YOUR_WEBHOOK_ID_FOLLOWUP",
      "credentials": {
        "smtp": {
          "id": "4AiZ4tl1wAvSTiY6",
          "name": "SMTP account"
        }
      },
      "notes": "Day 3 follow-up. Static HTML with clinic name, patient name, and review URL.\nSMTP: The authenticated SMTP account must be allowed to send from the configured fromEmail address."
    }
  ],
  "pinData": {},
  "connections": {
    "Appointment Complete Trigger": {
      "main": [
        [
          {
            "node": "Validate & Structure Data",
            "type": "main",
            "index": 0
          },
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate & Structure Data": {
      "main": [
        [
          {
            "node": "Lookup Opt-Out Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lookup Opt-Out Sheet": {
      "main": [
        [
          {
            "node": "Dedup & Opt-Out Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dedup & Opt-Out Check": {
      "main": [
        [
          {
            "node": "Wait 4 Hours Post-Appointment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 4 Hours Post-Appointment": {
      "main": [
        [
          {
            "node": "Claude: Generate Review Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude: Generate Review Email": {
      "main": [
        [
          {
            "node": "Parse & Inject Review Link",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse & Inject Review Link": {
      "main": [
        [
          {
            "node": "Sentiment Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sentiment Router": {
      "main": [
        [
          {
            "node": "Alert Clinic Manager (Negative)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Review Request Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Review Request Email": {
      "main": [
        [
          {
            "node": "Log Send to Opt-Out Sheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "Wait 72 Hours for Response",
            "type": "main",
            "index": 0
          },
          {
            "node": "Log Execution",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 72 Hours for Response": {
      "main": [
        [
          {
            "node": "Review Completion Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Review Completion Check": {
      "main": [
        [
          {
            "node": "Send Follow-Up (Day 3)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "7ce45798-46dd-4fd2-986a-a3a1d525866b",
  "meta": {
    "instanceId": "ae363b24fe12a33cba3fea2d78c41037950face041d2d0a7369e9d47ea1ab426"
  },
  "id": "l09xQ7UKLBbNe1Di",
  "tags": []
}